-title @church.name
-content_for :page_specific do
  =javascript_include_tag "live/shared/pagination"

.church.show
  %section.main
    =@church.join_group_call_to_action(current_user)

    .requests{ data: { :"load-more-url" => church_path(@church.id) } }
      =render partial: 'live/shared/request', collection: @requests

    .end-of-list{ style: @requests.blank? ? "display: block;" : nil }
      %p No more requests to load!

  %section.sidebar
    =@church.members_request_form(@sidebar.request_form_churches, current_user)

    .profile
      .image
        =@church.picture_tag
        %h1=@church.name
      %p=@church.bio
      .contact-info
        .phone.first-icon=@church.formatted_phone
        .address=@church.formatted_address
        .website=@church.website_link
    
    .buttons
      =@church.leave_prayer_group_button(current_user)
      =@church.manage_church_button(current_user)
