%h2 Welcome to the Share a Prayer API
%p The share a prayer API is an OAuth 2.0 based JSON API. It is closed to invited developers only. We plan to open the API to the public in the near future once Share a Prayer is no longer in beta. Please check back later for more information on becoming a developer.