%p It is our goal at Share a Prayer to become the premier prayer sharing website. We offer something unique; our minimalistic experience allows users to get straight to what matters most: prayer.
%p.mission Our mission is to glorify God through providing a universal, minimalistic prayer sharing experience for everyone.