-# If in production mode, show Facebook reccomend button
- if Rails.env == "production"
	.fb-like{:data => {:href => "https://www.facebook.com/shareaprayer", :send => "false", :layout => "button_count", :width => "50", :"show-faces" => "true"} }
	%a.twitter-share-button{:href => "https://twitter.com/share", :"data-url" => "http://shareaprayer.org/", :"data-text" => "Check out Share a Prayer: the minimalist way to share prayer requests and pray for others -", :"data-via" => "goshareaprayer"} Tweet
	:javascript
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

-# Copyright/trademark statement w/ links to policies
%p
	%small &copy; 2012 Robert Klubenspies. #{link_to "Terms of Use", tos_path} and #{link_to "Privacy", privacy_path}.<br>The Share a Prayer name, logo, and all related marketing materials are the trademark of Robert Klubenspies.