%h6 Get started in 3 easy steps!
.step
	.number
		1.
	.description
		Sign in below with your Facebook Account
		= link_to (image_tag ("facebook_login.png")), "auth/facebook"
.step
	.number
		2.
	.description
		Setup your profile page and join a prayer group
.step
	.number
		3.
	.description
		Start sharing prayers with family and friends!