.home
	.index
		.sidebar
			- if current_user != nil
				= render :partial => 'signed_in'
			- else
				= render :partial => 'get_started'
		.worldwide
			.top
				.heading
					%h2 Worldwide Prayer Requests
				.count
					%p 000,000,000 Prayer Requests made to date
			.clear
			.requests
				.divider18
					%hr{:style => "margin-top: 0;"}
					.clear
				- unless @prayers.blank?
					.requests
						= render :partial => "prayer", :collection => @prayers
			.clear
			.paginator
				= paginate @prayers, :window => 1, :remote => true