%h1 Terms of Service

%p
	%i This agreement was written in English (US). Any translations of this agreement which conflict with the English version will be declared null and void and the English version will govern.

%p Share a Prayer (the “Site”) is a micro-blogging service providing its registered users (the “User”) with a platform for sharing prayer requests. By registering for an account with the Site, the User is herein agreeing to and legally bound by the Terms and Conditions (the “Agreement”) set forth here. The Site is located at www.shareaprayer.org. This Agreement applies to all subdomains and subsidiaries of the Site, in addition to the site itself. For easy readability the Agreement has been broken into small sections set forward below. Please read all sections of this Agreement fully and completely before registering with the Site.

%h2 Sections

%ol
	%li Privacy
	%li Sharing
	%li Safety
	%li Registration
	%li Amendments
	%li Indemnity
	%li Termination
	%li Disputes
	%li Warranty
	%li Additional Definitions
	%li Special Provisions
	%li Users Outside the United States
	%li Governing Law
	%li Other

%h2 1. Privacy
%p We take your privacy very seriously. For this reason we have created our #{link_to "privacy policy", privacy_policy_path}. Please consult the #{link_to "privacy policy", privacy_policy_path} with any questions or concerns about your privacy on the Site.

%h2 2. Sharing
%p All content and information shared on the Site is owned by the User who posted it. In addition to this:

%ol
	%li By posting any intellectual property (the “IP content”) on the Site you explicitly give the Site and its subsidiaries (“Us”) the following permissions:
	%ol
		%li You grants Us a non-exclusive, transferable, sub-licensable, royalty-free, worldwide license to use any IP content that you post on or in connection with the Site.
		%li These permissions, and the license you have granted Us, expire upon deletion of your IP content.
	%li When you delete any content or information on the Site, it will be immediately removed from public view but may persist in backups (database backups, file-system backups, etc.) for a reasonable period of time.
	%li When you publish content or information on the Site it is made publicly viewable by anyone and everyone with the hyperlink to view it.

%h2 3. Safety
%p The Site needs your help to keep Share a Prayer a safe and fun online environment. By agreeing to the Agreement you are committing to the following:

%ol
	%li You will not post spam on the Site. Furthermore, the site will only be used for non-commercial, personal communications and prayer sharing.
	%ol
		%li Share a Prayer is not for sharing status updates. Only use Share a Prayer for prayer sharing.
	%li You will collect information from or access the Site by automated or unauthorized means.
	%li You will not engage in illegal, misleading, malicious, or discriminatory activity on the Site.
	%li You will not upload malicious code to the Site.
	%li You will not attempt to or compromise (or “hack”) the Site.
	%li You will not bully, intimidate, or harass other users of the Site.
	%li You will not gain unauthorized access, by any means, to another user’s account.
	%li You will not post content deemed as hateful, threatening, pornographic.
	%ol
		%li Content that incites violence, contains any nudity, or is graphically violent is strictly prohibited.
	%li You will not do anything that could (psychically or theoretically) threaten, disable, burden, or impair the proper operation of the Site.
	%li You will not facilitate or encourage any violations of the Agreement.

%h2 4. Registration
%p Share a Prayer is about real people sharing real prayer requests. For this reason we have established a set of guidelines regarding the validity of the information we expect you to provide to us.

%ol
	%li You will not provide false information to the Site or create more than one account on the Site. Creating an account on someone else’s behalf is strictly prohibited.
	%li In the case that your account is deleted, de-activated, or disabled you will not create another one.
	%li You will not use the Site or your profile for commercial or non-personal purposes.
	%li You will not use the Site if you are under 13 years of age or if local law prohibits you from using the Site.
	%li You will keep your contact information, such as your e-mail address, up to date and current.
	%li You will not permit or allow access to your account or your password to any other person.
	%li You will not transfer your account to anyone else without written permission from the Site.
	%li The Site reserves the right to reclaim or re-use any screenname currently in use by any User.

%h2 5. Amendments
%p We reserve the right to change, modify, or replace the Agreement without notifying you or any other users. Please visit this page frequently to check for changes to the Agreement.

%h2 6. Indemnity
%p In the case that anyone brings a claim against the Site related to or because of your actions on the Site, User shall indemnify Site and hold Site harmless from and against all damages, losses, and expenses of any kind (including legal fees) related to said claim. User also herein indemnifies Site from any damages, lost profits, or costs resulting from the use of the Site.

%h2 7. Termination
%p If you violate the Agreement or otherwise create possible or physical legal exposure for the Site, Site reserves the right to terminate, suspend, or otherwise discontinue your account.

%h2 8. Disputes
%p User will resolve any claims, cause of action, or dispute arising out of or in relation to this Agreement exclusively in the state or federal court located in Volusia County, Florida. This Agreement will be governed by the laws of the State of Florida, as well as any claim that may arise between the Site and the User, without regard to conflict of law provisions. User agrees to submit to the personal jurisdiction of the courts located in Volusia County, Florida for the purpose of litigating said claims.

%h2 9. Warranty
%p.uppercase The Site is provided "as is". Site makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Furthermore, Site does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.

%h2 10. Definitions
%p While we have attempted to list definitions in this Agreement in a logical and easy to understand mannerism as we have progressed through the Agreement, we have listed extended descriptions of important definitions below for sake of clarity:

%ol
	%li By “Site” we mean Share a Prayer’s internet web site as well as all features and services that we provide.
	%li By “Us” we mean Share a Prayer and its affiliates or partners.
	%li By “User” we mean a registered user of the Site.
	%li By content we mean anything that you post to the Site that would not be considered information (see below)
	%li By information we mean facts and other information about you or others.

%h2 11. Special Provisions

%strong 11.1 Users Outside the United States
%p If you do not live in the United States than you consent to have your personal data transferred to and processed in the United States when using the Site.

%h2 12. Governing Law
%p This Agreement shall be governed by the laws of Volusia County, Florida, without regard to conflict of law provisions.

%h2 13. Other
%ol
	%li This Agreement makes up the entire agreement between the parties regarding Share a Prayer, and supersedes any prior agreements.
	%li If any portion of this Agreement is found to be unenforceable, the remaining portion will remain in full force and effect.
	%li If we fail to enforce any of this Agreement, it will not be considered a waiver. The Agreement will remain in full force and effect.
	%li Any amendment to or waiver of this Agreement must be made in writing by Share a Prayer.
	%li You will not transfer any of your rights or obligations under this Agreement to any other party without written consent by Share a Prayer.
	%li All of our rights and obligations under this Agreement are freely assignable by us in connection with a merger, acquisition, or sale of assets, or by operation of law or otherwise.
	%li Nothing in this Agreement shall prevent us from complying with the law.
	%li This Agreement does not confer any third party beneficiary rights.
	%li You will comply with all applicable laws when using or accessing the Site.