%section#legal-tos.animated.fadeInDown
	.row
		.span8
			%h2 Terms of Use
			%p At Share a Prayer we hate legalese. For that reason we’ve “humanized” our Terms of Use. Your use of the Website constitutes your agreement to this document and our privacy policy.

			%h4 Definitions
			%ul
				%li “Share a Prayer” refers to Robert Klubenspies and Shane Maloy, the founders of Share a Prayer’s main website shareaprayer.org.
				%li “Website” refers to any website operated by Share a Prayer, including but not limited to shareaprayer.org, which contains Share a Prayer’s features and branding.
				%li “Agreement” refers to this Agreement of Use as a whole, legal document.
				%li “Content” refers to anything found to be posted, shared, or otherwise distributed through the Website.

			%h4 Your Agreement with Us
			%b You agree to the following:
			%ol
				%li
					%strong Use of Website
					By using the Website you hereby certify that you are of 13 years of age or older, are able to form a legally binding contract with Share a Prayer, and are not barred from using the Website in your country or legal jurisdiction. You agree to use the Website strictly in compliance with this Agreement.
				%li
					%strong Banned Content
					You agree not to post or share any spam, fake, malicious, or otherwise offensive content (“Banned Content”) on the Website. This includes, but is not limited to, posting Banned Content in the form of prayer requests or comments. You recognize that posting Banned Content on the Website terminate this agreement and may result in a permanent ban from using the Website.
				%li
					%strong No Endorsement
					We do not endorse, support, represent or guarantee the completeness, truthfulness, accuracy, or reliability of any Content posted via the Website or endorse any opinions expressed via the Website. You understand that by using the Website, you may be exposed to Content that might be offensive, harmful, inaccurate or otherwise inappropriate, or in some cases, postings that have been mislabeled or are otherwise deceptive. Under no circumstances will Share a Prayer be liable in any way for any Content, including, but not limited to, any errors or omissions in any Content, or any loss or damage of any kind incurred as a result of the use of any Content posted, emailed, transmitted or otherwise made available via the Website or broadcast elsewhere.
				%li
					%strong Your Rights
					You retain your rights to any Content you submit, post or display on or through the Website. By submitting, posting or displaying Content on or through the Website, you grant Share a Prayer a cost free, perpetual, worldwide, non-exclusive, royalty-free license (with the right to sublicense) to use, copy, reproduce, process, adapt, modify, publish, transmit, display and distribute such Content in any and all media or distribution methods (now known or later developed). You are responsible for your use of the Website, for any Content you provide, and for any consequences thereof, including the use of your Content by other users and our third party partners. Share a Prayer will not be responsible or liable for any use of your Content by Share a Prayer in accordance with this Agreement. You represent and warrant that you have all the rights, power and authority necessary to grant the rights granted herein to any Content that you submit, share, or post. Share a Prayer hereby grants you a personal, worldwide, royalty-free, non-assignable and non-exclusive license to use the software that is provided to you by Share a Prayer as part of the Website. This license is for the sole purpose of enabling you to use and enjoy the benefit of the Website as provided by Share a Prayer, in the manner permitted by this Agreement and may be revoked for any reason, including violation or or termination of this Agreement.
				%li
					%strong Our Rights
					All right, title, and interest in an to the Website (excluding Content provided by users) are and will remain the exclusive property of Share a Prayer and its licensors. The Website is protected by domestic and international copyright and trademark laws. Nothing in this Agreement gives you the right to use the Share a Prayer name, copyrights, or trademarks without Share a Prayer’s expressed, written permission. We reserve the right, at any time, to refuse use of the Website to anyone and for any reason.
			
				%li
					%strong Indemnification
					You agree to indemnify and hold harmless Share a Prayer, its contractors, and its licensors, and their respective directors, officers, employees and agents from and against any and all claims and expenses, including attorneys’ fees, arising out of your use of the Website, including but not limited to your violation of this Agreement.

			%h4 Disclaimer of Warranties
			%p The Website is provided “as is”. Share a Prayer and its suppliers and licensors hereby disclaim all warranties of any kind, express or implied, including, without limitation, the warranties of merchantability, fitness for a particular purpose and non-infringement. Neither Share a Prayer nor its suppliers and licensors, makes any warranty that the Website will be error free or that access thereto will be continuous or uninterrupted. You understand that you download from, or otherwise obtain content or Website through, the Website at your own discretion and risk.

			%h4 Limitation of Liability
			%p In no event will Share a Prayer, or its suppliers or licensors, be liable with respect to any subject matter of this agreement under any contract, negligence, strict liability or other legal or equitable theory for: (i) any special, incidental or consequential damages; (ii) the cost of procurement for substitute products or Website; or (iii) for interruption of use or loss or corruption of data. Share a Prayer shall have no liability for any failure or delay due to matters beyond their reasonable control. The foregoing shall not apply to the extent prohibited by applicable law.

			%h4 Waiver and Severability
			%p The failure of Share a Prayer to enforce any right or provision of this Agreement will not be deemed a waiver of such right or provision. In the event that any provision of this Agreement is held to be invalid or unenforceable, the remaining provisions of this Agreement will remain in full force and effect.
			
			%h4 Miscellaneous
			%p Except to the extent applicable law, if any, provides otherwise, this Agreement, any access to or use of the Website will be governed by the laws of the state of Florida, U.S.A., excluding its conflict of law provisions, and the proper venue for any disputes arising out of or relating to any of the same will be the state and federal courts located in Volusia County, Florida.
			
			%p=link_to "Home", prayers_path, :class => "btn"
	
	.row
		.span8
			=render 'shared/footer'