%article
  %h1 Privacy Policy
  %p At Share a Prayer, we collect and manage user data according to the following Privacy Policy. This document is part of our #{link_to "Terms of Service", page_path("terms")}, and by using shareaprayer.org (the “Website”), you agree to the terms of this Privacy Policy and the Terms of Service. Please read the Terms of Service in their entirety, and refer to those for definitions and contacts.
  %h3 Data Collected
  %p We collect anonymous data from every visitor of the Website to monitor traffic and fix bugs. For example, we collect information like web requests, the data sent in response to such requests, the Internet Protocol address, the browser type, the browser language, and a timestamp for the request.
  %p We ask you to log in and provide certain personal information (such as your name and email address) in order to be able to save your profile and the User Content associated with it. In order to enable these or any other login based features, we use cookies to store session information for your convenience. In order to take advantage of certain features of the Website, you may also choose to provide us with other personal information through connecting your Share a Prayer account to your Facebook account, but your decision to utilize these features and provide such data will always be voluntary.
  %p You are able to view, change and remove your data associated with your profile. Should you choose to delete your account, please contact us at support@shareaprayer.org and we will follow up with such request as soon as possible.
  %p Minors and children should not use Docracy. By using the Website, you represent that you have the legal capacity to enter into a binding agreement.
  %h3 Use of the Data
  %ol
    %li We only use your personal information to provide you the Share a Prayer services or to communicate with you about the services or the Website.
    %li We are not responsible for any violation of privacy law you may be liable for through providing Content to the us.
    %li We employ industry standard techniques to protect against unauthorized access of data about you that we store, including personal information.
  %p <strong>We do not share personal information you have provided to us without your consent</strong>, unless:
  %ol
    %li doing so is appropriate to carry out your own request;
    %li doing so is appropriate to carry out the request of a church your account is associated with;
    %li we believe it's needed to enforce our Terms of Service, or that is legally required;
    %li we believe it's needed to detect, prevent or address fraud, security or technical issues;
    %li otherwise protect our property, legal rights, or that of others.
  %p Share a Prayer is operated from the United States. If you are visiting the Website from outside the U.S., you agree to any processing of any personal information you provide us according to this policy.
  %p We may contact you, by email or other means. For example, we may send you promotional emails relating to our Service or other third parties we feel you would be interested in, or communicate with you about your use of the Website. We may also use technology to alert us via a confirmation email when you open an email from us. If you do not want to receive email from us, please opt out of receiving emails at the bottom of any Share a Prayer emails.
  %p A church, whom &nbsp;you are associated with and is using our Paid Services, may choose to collect your email address for the purpose of sending you email updates. We are not responsible for such third party communications resulting from that collection of data. If you receive any third-party communications from churches your are associated with on Share a Prayer, you should address any concerns to the sender of those messages, as we do not have the ability to unsubscribe you from third party communications.
  %h3 Sharing of Data
  %p We don't share your personal information with third parties, except as set forth in our Terms of Service and Privacy Policy. Aggregated, anonymized data is periodically transmitted to external services to help us improve the Docracy Website and service. We currently use Google Analytics (traffic analysis, SEO optimization), Mailchimp (mailing list management), and Desk.com (email support). Feel free to check out their own Privacy Policies to find out more about the information they collect.
  %p We also use social buttons provided by services like Twitter and Facebook. Your use of these third party services is entirely optional. We are not responsible for the privacy policies and/or practices of these third party services, and you are responsible for reading and understanding those third party services’ privacy policies. Similarly, signing in with your Facebook account is governed by the same provisions regarding the optional use of third-party services.
  %p We employ and contract with people and other entities that perform certain tasks on our behalf and who are under our control (our “Agents”). We may need to share personal information with our Agents in order to provide products or services to you. Unless we tell you differently, our Agents do not have any right to use Personal Information or other information we share with them beyond what is necessary to assist us. You hereby consent to our sharing of Personal Information with our Agents.
  %p We may choose to buy or sell assets. In these types of transactions, user information is typically one of the transferred business assets. Moreover, if we, or substantially all of our assets, were acquired, or if we go out of business or enter bankruptcy, user information would be one of the assets that is transferred or acquired by a third party. You acknowledge that such transfers may occur, and that any acquirer of us or our assets may continue to use your personal information as set forth in this policy.
  %h3 Credit Card Safety
  %p When you sign up for a Paid Service with us, we do not store any of your credit card or billing information on our servers. Instead, we hand it off to #{link_to "Braintree Payment Solutions", "http://braintreepayments.com/"}, a company who is dedicated to storing your sensitive information on their PCI-Compliant servers.
  %h3 Changes to the Privacy Policy
  %p We may amend this Privacy Policy from time to time. Use of information we collect now is subject to the active Privacy Policy in effect at the time such information is used. If we make major changes in the way we collect or use information, we will notify you by posting an announcement on the Website or sending you an email. In any case, you are always welcome to come back here to check for any changes. A user is bound by any changes to the Privacy Policy when he or she uses the Services after such changes have been made.
  %p Should you have any question or concern, please write to support@shareaprayer.org
  %p <em>Revised April 10, 2013</em>
