%article.request{ id: "request-sample" }
  .profile-pic=image_tag "live/shared/no-profile-pic.png"
  .ribbon-edge
  .text#short This is a sample request. When you belong to a church on Share a Prayer, you'll be able to see everyone's requests here.
  .text#long
    This is a sample request. When you belong to a church on Share a Prayer, you'll be able to see everyone's requests here.
    .details
      .author.first-icon Share a Prayer Support
