%nav.sidebar#main-nav
  %ul
    %li.profile
      .image=image_tag @sidebar.user_image_url
      .info
        .name=@sidebar.user_name
        =link_to "Logout", destroy_user_session_url(subdomain: "www"), method: :delete, class: "logout"

    =active_link_to "Recent", recent_path, wrap_tag: :li, class: "icon-calendar"

    -@sidebar.churches.each do |church|
      =active_link_to church.name, church_path(church), wrap_tag: :li, class: "icon-church"
    
    -if !Rails.env.production?
      %li.icon-add=link_to (@sidebar.no_churches? ? "Find your church" : "Add another church"), search_index_path