%li
	%a{:href => "index.html"}
		%img.ui-li-thumb{:src => "http://www.gravatar.com/avatar/#{prayer.gravatar_id}?size=80"}
		%h3.ui-li-header=prayer.request
		%p.ui-li-desc -#{prayer.name.split(" ")[0]}