.row
	.span8
		%a.prayer-link{:href => prayer_path(prayer)}
			.profile-pic
				=image_tag "http://www.gravatar.com/avatar/#{prayer.gravatar_id}?size=50"
			.request
				%span.text "#{prayer.request}"
				
				%p{:style => "margin-top: -5px; text-align: right;"}
					%small -#{prayer.name.split(" ")[0]}