$(".notice").fadeOut()
- content = escape_javascript(render(@prayer))
$(".requests").prepend(
$("#{content}").hide().fadeIn()
);
jQuery("abbr.timeago").timeago()
$(".top").slideUp()
$(".success").slideDown().delay(4000).slideUp()