/*
  Share a Prayers's site styles
  Special styles to extend Bootstrap
*/

/* Body and structure
-------------------------------------------------- */

body {
  background-color: #fff;
	background-image: url(/assets/body_bg.png);
  position: relative; }

section, header {
	padding-top: 20px;
  > .row {
    margin-bottom: 10px; } }

#logo {
		text-align: center; }
		
#posted {
	display: none; }

.prayer-link {
	.profile-pic {
		width: 50px;
		margin-right: 10px;
		margin-top: 5px;
		margin-bottom: 10px;
		float: left; }
	.request {
		width: 500px;
		float: left;
		padding-right: 10px; }
		small {
			color: #8d8d8d;
			font-size: 11px; } 
		.text {
			font-size: 16px;
			line-height: 20px;
			font-weight: 400; }
	.prayed-for {
		width: 48px;
		float: right; } }
	
#about {
	h4 {
		margin-top: -10px !important; }
	.mission {
		font-size: 18px;
		line-height: 24px;
		text-align: center !important;
		font-style: italic; } }

#home-show {
	h2 {
		font-size: 20px;
		line-height: 24px;
		font-weight: 500; }
	small {
		color: #8d8d8d;
		font-size: 11px; }
	img {
		margin-top: 5px; }
	.prayed_for {
		font-size: 14px;
		font-style: italic; } }

/* CSS3 Text Selection Color */	
::selection {
	background: #65BDFC; }

::-moz-selection {
	background: #65BDFC; }

/* Custom Grid */	
$gridColumns: 8;
$gridColumnWidth: 60px;
$gridGutterWidth: 20px;

/* Custom Tabs */
.tabs {
  > li {
    > a {
      &:hover {
        text-decoration: none;
        background-color: #eee;
        border-color: #eee #eee #ddd; } } }
  .active > a, .active > a:hover {
		background: url(/assets/body_bg.png);
    background-color: #f6f6f6 !important; } }

/* Custom Form Actions */
.actions {
  background: url(/assets/body_bg.png) !important;
  background-color: #f6f6f6 !important; }

/* Importing Bootstrap
-------------------------------------------------- */

@import "bootstrap"; /* Use this to get all of Bootstrap's @mixins and $variables */

/* Prayer Links
-------------------------------------------------- */

a.prayer-link {
	color: $black;
	&:hover {
		color: $gray !important;
		text-decoration: none;
		h3 {
			color: $gray; }
		&:visited {
			color: $black; } } }