/*
  Robert Klubenspies's site styles
  Special styles to extend Bootstrap
*/

/* Body and structure
-------------------------------------------------- */

body {
  background-color: #fff;
	background-image: url(/assets/body_bg.png);
  position: relative; }

section {
	padding-top: 20px;
  > .row {
    margin-bottom: 10px; } }

#logo {
		text-align: center; }
		
#posted {
	display: none; }
	
#about {
	h4 {
		margin-top: -10px !important; }
	.mission {
		font-size: 18px;
		line-height: 24px;
		text-align: center !important;
		font-style: italic; } }

#home-show {
	.prayed_for {
		font-style: italic; } }

/* CSS3 Text Selection Color */	
::selection {
	background: #65BDFC; }

::-moz-selection {
	background: #65BDFC; }

/* Custom Grid */	
$gridColumns: 8;
$gridColumnWidth: 60px;
$gridGutterWidth: 20px;

/* Custom Tabs */
.tabs {
  > li {
    > a {
      &:hover {
        text-decoration: none;
        background-color: #eee;
        border-color: #eee #eee #ddd; } } }
  .active > a, .active > a:hover {
		background: url(/assets/body_bg.png);
    background-color: #f6f6f6 !important; } }

/* Custom Form Actions */
.actions {
  background: url(/assets/body_bg.png) !important;
  background-color: #f6f6f6 !important; }

/* Prayers on Homepage */
//.item {
//	.header {
//		margin-bottom: 5px;
//		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
//		font-size: 20px;
//		font-weight: 400; }
//	
//	.request {
//		margin-bottom: 5px; }
//	
//	.name {
//		margin-bottom: 10px;
//		text-align: right;
//		color: #d1d1d1; }
//	
//	.timestamp {
//		margin-bottom: 10px;
//		text-align: left;
//		font-size: 10px;
//		color: #d1d1d1; }
//	
//	hr {
//		background: #dcdcd2;
//		margin-bottom: 10px;
//		width: 410px;
//		height: 1px;
//		border: 0; }
//	
//	&:hover {
//		color: #525772;
//		-webkit-transition: all .5s ease-in;
//		-moz-transition: all .5s ease-in;
//		-o-transition: all .5s ease-in;
//		-ms-transition: all .5s ease-in;
//		transition: all .5s ease-in; }
//	
//	.no_hover {
//		&:hover {
//			color: #121319; } } }

/* Importing Bootstrap
-------------------------------------------------- */

@import "bootstrap"; /* Use this to get all of Bootstrap's @mixins and $variables */

/* Prayer Links
-------------------------------------------------- */

a.prayer-link {
	color: $black;
	&:hover {
		color: $gray !important;
		text-decoration: none;
		h3 {
			color: $gray; }
	&:visited {
		color: $black; } } }