/*
 *= require_self
 *= require foundation
 */

// Compass mixins
@import "compass/css3";
@import "mixins/photoshop-drop-shadow";

// Import the rest of the mixins
@import "foundation_and_overrides";

// nav.sidebar {
//   width: 200px;
//   height: 100%;
//   float: left;
//   background: #e1e1e1;
// }


* {
  box-sizing: border-box;
}

html, body { min-height: 100%; }

body {
  background-image: image-url("shared/body-bg.png") !important;
}

nav.sidebar {
  position: fixed;
  top: 0;
  width: 0;
  height: 100%;
  background: #232323;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: emCalc(18px);
  overflow: hidden;
  transition: width 0.3s ease;

  ul {
    li {
      list-style: none;
      border-bottom: solid 1px rgba(white, 0.05);
      text-align: left;
      margin: 0;

      &.icon-calendar {
        background-image: image-url("live/nav/calendar.png");
        background-repeat: no-repeat;
        background-position: 30px center;
      }

      &.icon-add {
        background-image: image-url("live/nav/add.png");
        background-repeat: no-repeat;
        background-position: 30px center;
      }

      &.icon-church {
        background-image: image-url("live/nav/church.png");
        background-repeat: no-repeat;
        background-position: 28px center;
      }

      &.active {
        background-color: #5a9aa8;
      }

      &:hover, &:focus {
        background-color: shade(#5a9aa8, 10);
      }

      a {
        display: block;
        text-decoration: none;
        color: white;
        padding: 20px 70px;
      }

      &.profile {
        min-height: 80px;
        padding: 10px;

        &:hover, &:focus {
          background-color: transparent;
        }

        .image {
          height: 60px;
          width: 60px;
          margin-right: 20px;
          float: left;
        }

        .name { display: block; }

        a.logout {
          display: inline;
          text-decoration: none;
          color: rgba(white, 0.4);
          padding: 10px 0;
          font-size: emCalc(13px);
          
          &:hover, &:focus {
            text-decoration: underline;
            background: transparent;
          }
        }
      }
    }
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 20px;
    @include background(linear-gradient(left, rgba(black, 0), rgba(black, 0.25)));
  }
}

header.main {
  @include background(linear-gradient(#3F94BF, #246485));
  padding: 5px;
  text-align: center;
  color: white;
  text-shadow: #222 0px -1px 1px;
  position: fixed;
  z-index: 1000;
  width: 100%;
  left: 0;
  transition: all 0.3s ease;

  a {
    position: absolute;
    left: 20px;
    top: 15px;
    color: white;
    font-size: 20px;
  }

  h1 {
    font-size: emCalc(20px);
    line-height: emCalc(20px);
    color: white;
  }
}

.content {
  @include grid-row();
  margin-left: 0px;

  section.main {
    @include grid-column(8);

    article.request {
      margin-top: 10px;
      margin-bottom: 40px;
      margin-left: 30px;
      position: relative;
      background: white;
      @include photoshop-drop-shadow (90, 0, 0, 5px, rgba(0,0,0,0.25));
      cursor: pointer;

      .profile-pic {
        background: #cecece;
        height: 110px;
        width: 110px;
        position: absolute;
        top: -10px;
        left: -30px;
        z-index: 2;
        @include photoshop-drop-shadow (120, 1px, 0, 3px, rgba(0,0,0,0.4));
      }

      .ribbon-edge {
        position: absolute;
        z-index: 1;
        border-style:solid;
        border-color: transparent #cecece transparent transparent;
        border-width: 0 30px 20px 0;
        top: 100px;
        left: -30px;
        height:0px;
        width:0px;
      }

      .text {
        position: relative;
        min-height: 130px;
        margin-left: 105px;
        margin-right: 30px;
        padding-top: 15px;
        padding-bottom: 20px;
        font-family: 'Open Sans', sans-serif;
        font-size: emCalc(20px);
        line-height: emCalc(27px);

        &#long {
          display: none;

          .details {
            margin-top: 12px;
            margin-bottom: 12px;
            font-size: emCalc(14px);
            line-height: emCalc(14px);

            div {
              display: inline-block;
              clear: both;
              height: 14px;
              margin-left: 16px;
              padding-left: 20px;
              background-repeat: no-repeat;
              background-position: left center;

              &.author {
                background-image: image-url("live/request/author.png");
              }

              &.created_at {
                background-image: image-url("live/request/created-at.png");
              }

              &.prayers {
                background-image: image-url("live/request/prayers.png");
              }

              &.first-icon {
                margin-left: 0;
              }
            }
          }

          .pray-for {
            margin-top: 20px;
            
            a {
              @include button-base;
              @include button-size;
              width: 100%;
              background: #1f7f5c;
              padding: 20px 40px;
              margin: 0px;
              border: none;
              color: white;
              font-family: 'Montserrat', sans-serif;
              font-size: emCalc(12px);
              font-weight: 400;
              text-transform: uppercase;
              letter-spacing: 1px;

              &:visited {
                color: white;
              }

              &:hover {
                background: shade(#1f7f5c, 10);
              }

              &[disabled] {
                background: shade(#1f7f5c, 20);
                cursor: default;
              }
            }
          }
        }
      }

      &.expanded {
        cursor: default;

        .text {
          padding-bottom: 25px;
        }

        .ribbon-edge {
          border-color: transparent #5a9aa8 transparent transparent;
        }
      }
    }

    .end-of-list {
      @include panel(#8c6635, emCalc(24px));
      @include border-radius(emCalc(10px));
      background: rgba(140, 102, 53, 0.05);
      border: 4px dashed #a5998b;
      margin-bottom: 40px;
      text-align: center;
      display: none;

      p {
        color: #4c443b;
        font-family: 'Montserrat', sans-serif;
        font-size: emCalc(20px);
        line-height: emCalc(14px);
        margin-bottom: 8px;
      }
    }

    .edit-profile {
      .optional {
        font-size: 1.0em;
        line-height: 1.4em;
        font-weight: 600;
        color: #4c443b;
        padding-top: 5px;
        padding-bottom: 10px;
      }

      .note-block {
        font-size: 0.9em;
        line-height: 1.2em;
        font-weight: 400;
        color: #4c443b;
        padding-top: 5px;
        padding-bottom: 10px;
        font-style: italic;
      }

      .input-block {
        @include grid-row('collapse');
        font-size: 1.2em;

        span {
          @include prefix-postfix-base;
          @include prefix;
          @include grid-column(3, $float: left, $collapse: true);
        }

        input {
          @include grid-column(9, $collapse: true);
          padding-left: 1em;
          padding-right: 1em;
        }

        textarea {
          @include grid-column(9, $collapse: true);
          padding-left: 1em;
          padding-right: 1em;
          height: 100px;
        }

        label.error {
          @include grid-column(9, $push: 3, $collapse: true);
          @include form-error-message;
          padding: emCalc(5px);
          line-height: emCalc(18px);
        }
      }

      .file-block {
        margin-bottom: 15px;

        .instructions {
          font-size: 0.9em;
          line-height: 1.2em;
          font-weight: 400;
          color: #4c443b;
          padding-bottom: 15px;
          font-style: italic;
        }

        .remove {
          padding-top: 15px;
          input, label {
            display: inline-block;
          }
        }
      }

      .submit-block {
        @include grid-row('collapse');

        .buttons {
          @include grid-column(5, $collapse: true, $push: 7);

          input[type="submit"] {
            @include button($bg: #1f7f5c, $full-width: true, $padding: 1.1em);
          }
        }
      }
    }
  }

  section.sidebar {
    @include grid-column(4);

    .post-request {
      margin-bottom: 16px;

      form {
        textarea {
          margin: 0;
          padding: 20px;
          width: 100%;
          height: emCalc(60px);
          background: white;
          color: #666666;
          font-family: 'Montserrat', sans-serif;
          font-size: emCalc(18px);
          line-height: emCalc(24px);
        }

        .options {
          display: none;
          margin-top: 8px;

          .dropdown {
            margin: 0;
            padding: 20px;
            width: 100%;
            height: emCalc(58px);
            background: white;
            color: #666666;
            font-family: 'Montserrat', sans-serif;
            font-size: emCalc(18px);
            line-height: emCalc(18px);

            .current {
              font-size: emCalc(18px);
              line-height: emCalc(18px);
              margin-left: 0;
            }

            .selector {
              height: emCalc(58px);
            }

            ul {
              margin-top: emCalc(20px);
            }
          }

          .buttons {
            margin-top: 8px;
            margin-bottom: 92px;

            input {
              @include button-base;
              @include button-size;
              padding: 24px;
              border: none;
              color: white;
              font-family: 'Montserrat', sans-serif;
              font-size: emCalc(16px);
              font-weight: 400;
              text-transform: uppercase;
              letter-spacing: 1px;
            }

            input[type="reset"] {
              background: #d42925;
              width: 21%;
              float: left;

              &:hover {
                background: shade(#d42925, 10);
              }
            }

            input[type="submit"] {
              background: #1f7f5c;
              width: 76%;
              float: right;

              &:hover {
                background: shade(#1f7f5c, 10);
              }
            }
          }
        }
      }
    }

    .profile {
      @include panel(white, 0px);
      margin-bottom: 16px;
      @include photoshop-drop-shadow (90, 0, 0, 5px, rgba(0,0,0,0.25));
      border: none;
      font-family: 'Montserrat', sans-serif;
      font-size: emCalc(15px);

      .image {
        position: relative;

        h1 { 
          background: rgba(0, 0, 0, 0.5);
          position: absolute;
          bottom: 1px;
          left: 0;
          padding-left: 10px;
          padding-right: 12px;
          margin-bottom: 0;
          width: 100%;
          font-family: 'Montserrat', sans-serif;
          font-size: emCalc(32px);
          line-height: emCalc(20px);
          color: white;
        }
      }

      p {
        padding: 10px;
        margin-bottom: 0px;
      }

      .contact-info {
        font-size: emCalc(16px);
        line-height: emCalc(20px);
        padding-bottom: 10px;

        div {
          margin-top: 10px;
          margin-left: 10px;
          padding-left: 18px;
          background-repeat: no-repeat;

          &.phone {
            background-image: image-url("live/church/phone.png");
            background-position: 2px center;
          }

          &.address {
            background-image: image-url("live/church/address.png");
            background-position: 1px top;
          }

          &.website {
            background-image: image-url("live/church/website.png");
            background-position: left center;
          }

          &.first-icon {
            margin-top: 0;
          }
        }
      }
    }

    .buttons {
      a {
        @include button-base;
        @include button-size;
        width: 100%;
        background: #d42925;
        padding: 24px;
        margin: 0 0 8px 0;
        border: none;
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: emCalc(16px);
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;

        &:visited {
          color: white;
        }

        &:hover {
          background: shade(#d42925, 10);
        }

        &.manage {
          background: #de8550;

          &:hover {
            background: shade(#de8550, 10);
          }
        }
      }
    }
  }

  .call-to-action {
    @include panel(#8c6635, emCalc(24px));
    @include border-radius(emCalc(10px));
    background: rgba(140, 102, 53, 0.05);
    border: 4px dashed #a5998b;
    margin-bottom: 40px;
    text-align: center;

    h1 {
      color: #4c443b;
      font-family: 'Montserrat', sans-serif;
      font-size: emCalc(36px);
      line-height: emCalc(20px);
      margin-bottom: 8px;
    }

    h2 {
      color: #a5998b;
      font-family: 'Open Sans', sans-serif;
      font-size: emCalc(20px);
      font-weight: 600;
      margin-top: 0px;
      margin-bottom: 20px;
    }

    a {
      @include button-base;
      @include button-size;
      background: #1f7f5c;
      padding: 24px 60px;
      margin: 0px;
      border: none;
      color: white;
      font-family: 'Montserrat', sans-serif;
      font-size: emCalc(16px);
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1px;

      &:visited {
        color: white;
      }

      &:hover {
        background: shade(#1f7f5c, 10);
      }
    }
  }
}

.flash {
  cursor: pointer;
  display: none;
  position: fixed;
  width: 100%;
  height: 3em;
  top: 0;
  left: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  z-index: 10000;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;

  &.error { background-color: #d42925; }
  &.alert{ background-color: #5a9aa8; }
  &.notice { background-color: #1f7f5c; }
}


// For navigation on desktops
@media #{$medium} {
  nav.sidebar {
    width: 27%;
  }

  .page-wrap {
    width: 73%;
    float: right;
    transition: width 0.3s ease;
  }

  .content {
    padding: 20px;
  }

  header.main {
    display: none;
  }
}

// For navigation on tablets/phones
@media only screen and (max-width:"#{$medium-screen}") {
  .page-wrap {
    width: 100%;
    float: right;
    transition: width 0.3s ease;
  }

  .content {
    padding: 70px 20px 20px 20px;
  }

  .close-menu {
    display: none;
  }

  #main-nav:target {
    width: 73%;
  }
  #main-nav:target + .page-wrap {
    width: 27%;
    .open-menu {
       display: none; 
    }
    .close-menu {
       display: block;
    }
    header.main {
      width: 27%;
      left: 73%;
    }
  }
}