/*
 *= require_self
 *= require foundation
 */

// Font size: 1pt = .064285714em; 10pt = .64285714em;
// Pixels

@import "compass/css3";
@import "marketing/foundation_and_overrides";

* {
  box-sizing: border-box;
}

html, body { min-height: 100%; }

body {
  background: #f0eae4 !important;
}

section.top {
  background-image: image-url("marketing/hero-2560.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: emCalc(650px);
  width: 100%;

  header.nav-bar {
    @include grid-row();
    padding-top: emCalc(10px);

    a {
      @include opacity(0.8);
      @include transition;
      color: white;

      &:hover, &:visited {
        color: white;
      }

      &:hover {
        @include opacity(1.0);
      }
    }

    .logo {
      @include grid-column(3, $collapse: true);
      @include opacity(0.8);
    }

    nav {
      @include grid-column(9, $collapse: true);
      padding-top: 1.3em;
      font-size: 0.9em;
      text-align: right;

      ul {
        list-style-image: none;
        list-style-position: outside;
        list-style-type: none;
        display: inline;

        li {
          display: inline-block;
          padding-left: emCalc(12px);
        }
      }
    }
  }

  section.hero {
    @include grid-row();
    padding-top: 7.5em;
    
    h1, h2 {
      color: white;
      margin: 0;
    }

    .hero-title {
      @include grid-column(8, $collapse: true, $center: true);
      text-align: center;

      h1 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 3.9em;
      }
    }

    .hero-subtitle {
      @include grid-column(6, $collapse: true, $center: true);
      text-align: center;

      h2 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 2.1em;
      }
    }

    .hero-button {
      padding-top: 3.9em;
      text-align: center;

      a {
        img {
          @include opacity(0.5);
          @include transition;

          &:hover {
            @include opacity(0.8);
          }
        }
      }
    }
  }
}

section.members {
  @include grid-row();
  @include panel;
  @include border-radius(10px);
  position: relative;
  margin-top: emCalc(-60px);
  height: emCalc(120px);
  background: image-url("marketing/members-bg.png") repeat;
  z-index: 999;

  .copy {
    @include grid-column(8, $collapse: true);

    h2, p {
      margin: 0;
      color: #362f2d;
    }

    h2 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 1.9em;
    }

    p {
      padding-top: 5px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 1.1em;
      line-height: 1.3em;
    }
  }

  .buttons {
    @include grid-column(4, $collapse: true);
    text-align: right;

    .login {
      padding-top: emCalc(24px);
      padding-right: 5px;
      display: inline-block;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 1.2em;
      line-height: 1.2em;

      a {
        @include transition;
        color: #0e898a;

        &:hover, &:visited {
          color: #0e898a;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .find-church {
      display: inline-block;

      a.btn {
        @include button($bg: #1f7f5c, $radius: emCalc(5px));
        padding: 20px 25px;
        border: none;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 1.2em;
        line-height: 1.2em;
      }
    }
  }
}

section.for-churches {
  .float {
    @include grid-row();

    .arrow {
      @include grid-column(12, $collapse: true);
      width: 342px;
      height: 60px;
      margin: 48px 28px 0px 28px;
      background: image-url("marketing/for-churches.png") no-repeat;
      display: block;
    }
  }

  header {
    @include grid-row();

    .its-all-about {
      @include grid-column(12, $collapse: true, $center: true);
      text-align: center;

      h1 {
        margin: 0px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 2.7em;
        line-height: 2.7em;
      }
    }
  }

  section.feature-blocks {
    @include grid-row();
    margin-bottom: emCalc(80px);

    article {
      @include grid-column(4);

      .community, .engagement, .simplicity {
        @include border-radius(10px);
        @include panel($padding: 25px);
        border: none;
        background: transparent;
        min-height: emCalc(430px);

        &.active {
          background: white;
        }

        i {
          display: block;
          width: 160px;
          height: 160px;
          background-repeat: no-repeat;
          margin-left: auto;
          margin-right: auto;
        }

        h2 {
          margin: 0px;
          padding-bottom: 0.2em;
          font-family: 'Open Sans', sans-serif;
          font-weight: 700;
          font-size: 2.3em;
          line-height: 2.0em;
          text-align: center;
        }

        p {
          font-weight: 300;
          font-size: 1.1em;
          line-height: 1.4em;
        }
      }

      .community {
        h2 {
          color: #5a9aa8;
        }

        i {
          background-image: image-url("marketing/feature-community.png");
        }
      }

      .engagement {
        h2 {
          color: #de8550;
        }

        i {
          background-image: image-url("marketing/feature-engagement.png");
        }
      }

      .simplicity {
        h2 {
          color: #6a5a8c
        }

        i {
          background-image: image-url("marketing/feature-simplicity.png");
        }
      }
    }
  }
}

section.contact {
  background: #0e8a54;

  .wrap {
    @include grid-row();

    .info {
      @include grid-column(12);
      margin-top: emCalc(80px);
      margin-bottom: emCalc(90px);
      text-align: center;

      h2.questions {
        margin: 0;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 1.7em;
        text-align: center;
        color: #063d25;
      }

      h1 {
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 3.1em;
        text-align: center;
        color: white;

        a {
          color: white;
          text-decoration: none;

          &:hover, &:visited {
            color: white;
            text-decoration: none;
          }

          &:hover {
            @include opacity(0.8);
          }
        }
      }    
    }
  }
}

section.pricing {
  background: #e4eef0;

  header {
    @include grid-row();
    padding-top: emCalc(50px);
    padding-bottom: emCalc(20px);

    .honest-pricing {
      @include grid-column(12, $collapse: true, $center: true);
      text-align: center;

      h1 {
        margin: 0px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 3.3em;
      }
    }
  }

  .info {
    @include grid-row();

    .copy {
      @include grid-column(4);

      article {
        margin-bottom: emCalc(20px);
        color: #362f2d;

        h2 {
          margin: 0px;
          padding-bottom: emCalc(5px);
          font-family: 'Open Sans', sans-serif;
          font-weight: 700;
          font-size: 1.4em;
        }

        p {
          font-weight: 300;
          font-size: 1.0em;
          line-height: 1.3em;
        }
      }
    }

    .prices {
      @include grid-column(8);

      ul {
        @include block-grid(3);
        float: right;

        > li {
          @include border-radius(10px);
          width: 220px;
          height: 220px;
          padding: 15px;
          margin-left: 10px;
          margin-right: 10px;
          display: block;
          clear: none !important;
          background: white;
          text-align: center;

          .limit {
            font-family: 'Open Sans', sans-serif;
            font-weight: 500;
            font-size: 1.5em;
            color: #767e80;
          }

          .cost {
            padding-bottom: 15px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            color: #0e898a;

            span {
              display: inline;

              &.amount {
                font-size: 4.4em;
              }

              &.term {
                font-size: 0.8em;
              }
            }

            &.darker {
              color: #0c7a7b;
            }

            &.darkest {
              color: #0b6a6b;
            }
          }

          .setup {
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            font-size: 1.0em;
            color: #767e80;
          }
        }
      }

      .includes {
        text-align: center;

        h3 {
          padding-left: 5px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 500;
          font-size: 1.2em;
          line-height: 4.0em;
          color: #767e80;
        }
      }
    }
  }

  .call-to-action {
    @include grid-row();
    padding-top: emCalc(40px);
    padding-bottom: emCalc(100px);

    .copy {
      @include grid-column(12, $collapse: true, $center: true);
      text-align: center;

      h2 {
        margin: 0;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 2.0em;
        text-align: center;
        color: #0e8a54;

        a {
          color: #0e8a54;
          text-decoration: none;

          &:hover, &:visited {
            color: #0e8a54;
            text-decoration: none;
          }

          &:hover {
            @include opacity(0.8);
          }
        }
      }
    }
  }
}
