/*
 *= require_self
 *= require foundation
 */

@import "compass/css3";
@import "foundation_and_overrides";

* {
  box-sizing: border-box;
}

html, body { min-height: 100%; }

body {
  background-image: image-url("shared/body-bg.png") !important;
}

header {
  @include grid-row();
  margin-top: emCalc(18px);
  margin-bottom: emCalc(18px);

  .logo {
    @include grid-column(12);
    text-align: center;
  }
}

.content {
  h1, h2 {
    font-family: 'Montserrat', sans-serif;
  }

  h1 {
    font-size: 1.7em;
    line-height: 1.7em;
    margin: 0;
  }

  h2 {
    font-size: 1.0em;
    line-height: 1.3em;
    margin: 0;
  }

  header {
    @include grid-row();

    .wrap {
      @include grid-column(12, $center: true);

      h1, h2 {
        text-align: center;
      }

      h1 {
        font-size: 2.4em;
        line-height: 1.4em;
      }

      h2 {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.4em;
      }
    }
  }

  section {
    @include grid-row();
    margin-top: emCalc(30px);

    header {
      @include grid-column(8, $center: true, $collapse: true);
      @include panel(#c3bbb2, emCalc(12px));
      border: none;
      
      h1 {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.2em;
        color: #4c443b;
      }
    }

    .content {
      @include grid-column(8, $center: true, $collapse: true);

      .wrap {
        @include grid-row('collapse');

        .note {
          @include grid-column(4, $collapse: true);
          @include panel(#8c6635, emCalc(12px));
          @include border-radius(emCalc(10px));
          background: rgba(140, 102, 53, 0.05);
          border: 2px dashed #a5998b;

          p {
            color: #4c443b;
            font-size: emCalc(18px);
            line-height: emCalc(22px);
          }
        }

        .form {
          @include grid-column(7, $collapse: true, $push: 1);

          .optional {
            font-size: 1.0em;
            line-height: 1.4em;
            font-weight: 600;
            color: #4c443b;
            padding-top: 5px;
            padding-bottom: 10px;
          }

          .input-block {
            @include grid-row('collapse');
            font-size: 1.2em;

            span {
              @include prefix-postfix-base;
              @include prefix;
              @include grid-column(3, $float: left, $collapse: true);
            }

            input {
              @include grid-column(9, $collapse: true);
              padding-left: 1em;
              padding-right: 1em;
            }

            label.error {
              @include grid-column(9, $push: 3, $collapse: true);
              @include form-error-message;
              padding: emCalc(5px);
              line-height: emCalc(18px);
            }
          }

          .file-block {
            margin-bottom: 15px;

            .instructions {
              font-size: 0.9em;
              line-height: 1.2em;
              font-weight: 400;
              color: #4c443b;
              padding-bottom: 15px;
              font-style: italic;
            }

            .remove {
              padding-top: 15px;
              input, label {
                display: inline-block;
              }
            }
          }

          .profile-block {
            @include grid-row('collapse');
            @include panel(#fafafa, emCalc(15px) emCalc(0px));
            @include border-radius(emCalc(10px));
            border: 2px solid #e1e1e1;

            .image {
              @include grid-column(3);
              padding-right: 5px;
            }

            .info {
              @include grid-column(8);
              padding-top: emCalc(12px);

              h2 {
                margin-bottom: 0.3em;
                font-size: 1.3em;
                color: #484848;
              }

              p {
                margin: 0;
                font-size: emCalc(18px);
                line-height: emCalc(18px);
                color: #484848;
              }
            }
          }
        }
      }
    }
  }

  section.account-required > .content {
    h1, h2 {
      color: #4c443b;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
    }

    .links {
      @include grid-row('collapse');

      .link {
        @include grid-column(6, $collapse: true);

        &.sign-in {
          padding-right: 5px;
          a {
            @include button(emCalc(16px), $primary-color, $full-width: true);
          }
        }
        
        &.sign-up {
          padding-left: 5px;
          a {
            @include button(emCalc(16px), $success-color, $full-width: true);
          }
        }
      }
    }
  }

  section.payment-info > .content > .wrap > .form {
    .charge-notice {
      @include grid-row('collapse');
      font-size: 1.0em;
      line-height: 1.3em;
      font-weight: 600;
      margin-bottom: 15px;

      span {
        @include grid-column(12, $float: left, $collapse: true);
      }
    }

    .input-block-stack {
      @include grid-row('collapse');

      span {
        font-size: 1.0em;
        line-height: 1.5em;
      }

      input {
        @include grid-column(12, $collapse: true);
        padding-left: 1em;
        padding-right: 1em;
      }

      label.error {
        @include grid-column(12, $collapse: true);
        @include form-error-message;
        padding: emCalc(5px);
        line-height: emCalc(18px);
      }
    }

    .credit-card {
      @include grid-row('collapse');

      .number {
        @include grid-column(8, $collapse: true);
      }

      .cvv {
        @include grid-column(3, $push: 1, $collapse: true);
      }
    }

    .expiration {
      @include grid-row('collapse');

      .month {
        @include grid-column(4, $collapse: true);
      }

      .year {
        @include grid-column(7, $push: 1, $collapse: true);
      }
    }

    .security-notice {
      @include grid-row('collapse');
      font-size: 0.8em;
      font-weight: 400;
      margin-top: 10px;
      color: #4c443b;

      span {
        @include grid-column(12, $float: left, $collapse: true);
      }
    }
  }

  section.ready-to-go > .content > .wrap {
    .terms {
      @include grid-column(6, $collapse: true);

      p {
        color: #4c443b;
        font-size: emCalc(14px);
        line-height: emCalc(28px);
      }
    }

    .lets-go {
      @include grid-column(5, $collapse: true, $push: 1);

      input[type="submit"] {
        @include button($bg: $success-color, $full-width: true, $padding: 1.1em);
      }
    }
  }

  section.vip-code > .content {
    .field {
      @include grid-column(6, $collapse: true);
      padding-right: 5px;

      input[type="text"] {
        font-size: 2.0em;
        padding: 10px;
      }
    }

    .submit {
      @include grid-column(6, $collapse: true);
      padding-left: 5px;

      input[type="submit"] {
        @include button($bg: $success-color, $full-width: true, $padding: 1.3em);
      }
    }
  }
}

footer {
  @include grid-row();
  
  nav {
    @include grid-column(12, $collapse: true, $center: true);
    padding-top: emCalc(23px);
    padding-bottom: emCalc(19px);
    font-size: 0.9em;
    font-weight: 300;
    text-align: center;
    color: black;

    p {
      margin: 5px;
      color: rgba(0, 0, 0, 0.7);
    }

    ul {
      margin: 0;
      list-style-image: none;
      list-style-position: outside;
      list-style-type: none;
      display: inline-block;

      li {
        display: inline-block;

        &:before {
          @include opacity(0.7);
          content: '•';
          padding-left: 0.5em;
          padding-right: 0.5em;
        }

        &:first-child:before {
          content: '';
          padding-left: 0;
          padding-right: 0;
        }

        a {
          @include opacity(0.7);
          @include transition;
          color: black;
          text-decoration: none;

          &:hover, &:visited {
            color: black;
            text-decoration: none;
          }

          &:hover {
            @include opacity(1.0);
          }
        }
      }
    }
  }
}

.flash {
  cursor: pointer;
  display: none;
  position: fixed;
  width: 100%;
  height: 3em;
  top: 0;
  left: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  z-index: 10000;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;

  &.error { background-color: #d42925; }
  &.alert{ background-color: #5a9aa8; }
  &.notice { background-color: #1f7f5c; }
}