!!! 5
%html
	%head
		%title Share a Prayer
		=stylesheet_link_tag    "mobile/application"
		=javascript_include_tag "mobile/application"
		=csrf_meta_tags
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

	%body
		=yield