!!! 5

/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7]
  %html{ class: "ie6", lang: "en" }
/[if IE 7]
  %html{ class: "ie7", lang: "en" }
/[if IE 8]
  %html{ class: "ie8", lang: "en" }
/[if (gte IE 9)|!(IE)]
  %html{ lang: "en" }

%head
  %meta{ charset: "utf-8" }

  / Uncomment to make IE8 render like IE7
  / %meta{ http-equiv: "X-UA-Compatible" content="IE=7" }

  %title=content_for?(:title) ? "#{yield(:title)} - Share a Prayer" : "Share a Prayer"

  %link{ href: 'http://fonts.googleapis.com/css?family=Open+Sans:400,600|Montserrat:400,700', rel: 'stylesheet', type: 'text/css' }
  =stylesheet_link_tag "vip"
  =javascript_include_tag "vendor/custom.modernizr"
  =csrf_meta_tags

%body{ data: { "client-encryption-key" => ENV['BRAINTREE_CLIENT_KEY'] } }
  %header
    .logo=link_to image_tag("devise/logo-small.png"), root_path
  
  .content
    =render "live/shared/flash_notices"
    =yield

  %footer
    %nav
      %p Copyright 2010-2013 &copy; Share a Prayer, Inc. All rights reserved.
      %ul
        %li=link_to "Home", root_path
        %li=link_to "Terms of Service", page_path("terms")
        %li=link_to "Privacy Policy", page_path("privacy")

  %script{type: "text/javascript", src: "https://js.braintreegateway.com/v1/braintree.js"}
  =javascript_include_tag "vip/application"
